name: auto-approver
run-name: CI for approving PR 

on:
  push:
    branches:
      - "renovate/**"

jobs:
  autoapprove:
    uses: canonical/identity-team/.github/workflows/pr-auto-approval.yaml@f858d2dce01066546803a4279c3525f053ca7d0f # v1.9.2
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}